<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <!-- Normal Setups -->
    <target
      name="logfile"
      xsi:type="File"
      layout="${longdate} [${level:uppercase=true}] ${message}"
      fileName="${basedir}/logs/log.txt"
      createDirs="true"
      archiveAboveSize="128000000"
      archiveEvery="Day"
      maxArchiveFiles="30"
      archiveFileName="${basedir}/logs/archives/log-{###}.txt"
      archiveNumbering="Date"
    />
    <target
      name="colorconsole"
      xsi:type="ColoredConsole"
      layout="${longdate} [${level:uppercase=true}] ${message}"
      useDefaultRowHighlightingRules="true"
      enableAnsiOutput="true"
    />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="colorconsole" />
    <logger name="*" minlevel="Trace" writeTo="logfile" />
  </rules>
</nlog>